{% extends "encyclopedia/layout.html" %}

{% block title %}
{{ wiki_title }}
{% endblock %}

{% block body %}

<div class="messages">
    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div>

<div class="buttons d-flex justify-content-between">
    <a href="{% url 'encyclopedia:edit_wiki' wiki_title %}"><button type="button"
            class="btn btn-outline-primary"><strong>Edit
                Wiki</strong></button></a>
    <a href="{% url 'encyclopedia:delete_wiki' wiki_title %}"><button type="button"
            class="btn btn-outline-danger"><strong>Delete</strong></button></a>
</div>

<hr>

<div>
    {{ wiki | safe }}
</div>

{% endblock %}